<!DOCTYPE html>
<html>

  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0">
    <meta name=apple-mobile-web-app-status-bar-style content=black>
    <title>V-Can</title>
    <script src="public/static/flexible.js?v=1.1.1" type=text/javascript charset=utf-8></script>
    <script src=public/static/index.js type=text/javascript charset=utf-8></script>
    <link rel=stylesheet href=public/static/font.css>
    <link href=public/static/css/app.e04654a521b897b17dda2908a2795758.css rel=stylesheet>
  </head>

  <body>
    <div id=app></div>
    <script type=text/javascript src=public/static/js/manifest.b33a4b87bff74465f1e6.js></script>
    <script type=text/javascript src=public/static/js/vendor.1e83a168bd6499449e5f.js></script>
    <script type=text/javascript src=public/static/js/app.dd508952837f038cb25b.js></script>
  </body>

</html>